<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857106532565-hv9kdvv27155c49humjthc96gp256r9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857106532565-hv9kdvv27155c49humjthc96gp256r9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857106532565-0hisr68412uait2s654hpipak2jerboc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJph2xE2JBou1mnwbulIkIv56YQJGDChI</string>
	<key>GCM_SENDER_ID</key>
	<string>857106532565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comsatsconnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>comsatsconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>comsatsconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857106532565:ios:3cefc8200a733a45047a5c</string>
	<key>DATABASE_URL</key>
	<string>https://comsatsconnect-default-rtdb.firebaseio.com</string>
</dict>
</plist>